<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @rating.user_id %>
</p>

<p>
  <b>Music:</b>
  <%= @rating.music_id %>
</p>

<p>
  <b>Stars:</b>
  <%= @rating.stars %>
</p>


<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
