<h1>Listing musics</h1>

<table>
  <tr>
    <th>Author</th>
    <th>Description</th>
    <th>Downloadable</th>
    <th>Filename</th>
    <th>Length</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @musics.each do |music| %>
  <tr>
    <td><%= music.author %></td>
    <td><%= music.description %></td>
    <td><%= music.downloadable %></td>
    <td><%= music.filename %></td>
    <td><%= music.get_length %></td>
    <td><%= music.title %></td>
    <td><%= link_to 'Show', listen_path(:id => music.id) %></td>
    <td><%= link_to 'Destroy', listen_path, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Music', upload_path %>
