<p id="notice"><%= notice %></p>

<h1><%= @music.title %></h1>
<h2>by <%= @music.author %> </h2>
<h3>uploaded by <%= @music.user.name %></h3>
<p id="avg">
	<%= music_ratings(@music) %>
</p>
<p>
  Viewed by <%= pluralize(@music.hits, 'person') %>.
</p>

<input type="hidden" id="file_url" value="<%= @music.filename %>">
<div id="player">
	<p id="desc"><%= @music.description %></p>
</div>

<br/>

<div>
    <% if session[:user_id] %>
        <%= form_tag( rate_path(:music_id => @music.id, :format => :js), :id => 'rating_form', :remote => true) do%>
            Rate this sMash!
            <div>
                <% for i in 1..5%>
                    <input name="star" type="radio" class="star" value="<%= i %>" <%= "checked='checked'".html_safe if @my_rating == i%>/>
                <% end %>
            </div>
        <% end %>
    <% else %>
        Please login to rate this sMash!
    <% end %>
</div>

<%= link_to("download", {:controller => "downloads", :action => "get", :id => @music.id}, :remote => true) %>

<div id="add">
  <button type="button" id="add_button">Add to Playlist</button>
  <div id="add_menu" class="menu">
    <table>
        <% @playlists.each do |pl| %>
            <tr>
              <td>
                <%= link_to new_entry_path(:music_id => @music.id, :playlist_id => pl.id), :method => :post, :remote => true  do %>
                    <%= pl.name %>
                <% end %>
              </td>

              <td>
              <% if pl.has_entry(@music.id) %>
                <span class="added">✔</span>
              <% else %>
                <span></span>
              <% end %>
              </td>
            </tr>
        <% end %>
    </table>
  </div>
</div>

<%= render :partial => "comments/comments", :locals => {:comments => @music.comments, :music => @music} %>


<br/><br/><br/><%= link_to 'Back', :back %>

<script>
	$('.star').rating({
		callback: function(value, link){
										$(this.form).ajaxSubmit();
				},
		required: true
	});
</script>
