<p id="notice"><%= notice %></p>

<h1><%= @music.title %></h1>
<h2>by <%= @music.author %> </h2>
<h3>uploaded by <%= @music.user.name %></h3>

<input type="hidden" id="file_url" value="<%= @music.filename %>">
<div id="player">
<p id="desc"><%= @music.description %></p>
</div>



<%= link_to 'Back', :back %>
